<!DOCTYPE html>
<html>
<body>
<form action="/schedule" method="post">
<h3>Schedule your post:</h3>
<br />
<table>
	<tr>
		<td>
			<b>Title:</b>
		</td>
		<td>
		<!-- 	<input type="text" name="title" th:value="${schedule.title}" /> -->
		<div class="form-group">
						<label for="title"></label> <input type="text"
							class="form-control" id="title" name="title"
							placeHolder="Title" />
					</div>
		</td>
	</tr>
	<tr>
		<td>
			<b>Date of post:</b>
		</td>
		<td>
		<!-- 	<input type="date" name="postingDate" th:value="${schedule.postingDate}" />-->
		<div class="form-group">
						<label for="postingDate"></label> <input type="date"
							class="form-control" id="postingDate" name="postingDate"
							placeHolder="Posting Date" />
					</div>
		</td>
	</tr>
	<tr>
		<td>
			<b>Time of post:</b>
		</td>
		<td>
			<!-- <input type="time" name="postingTime" th:value="${schedule.postingTime}" />-->
			<div class="form-group">
						<label for="postingTime"></label> <input type="time"
							class="form-control" id="postingTime" name="postingTime"
							placeHolder="Posting Time" />
					</div>
		</td>
	</tr>
</table>
	<br />
	<b>Content:</b>
	<br />
	<!-- <textarea name="content" cols="50" rows="10" th:value="${schedule.content}" ></textarea> -->
	<div class="form-group">
					<label for="content"></label><label>
						 <input type="textarea"	cols="50" rows="10"
						 	class="form-control" id="content" name="content"
							placeHolder="Content" />
						</label>
					</div>
	<br />
	<br />
	<b>Where:</b>
	<table width="300px" height="100px">
		<tr> 
 	 		<td><!-- <div name="media" th:value="${schedule.media}">	-->
			<div class="form-group">
				<label for="media"></label><label>
 	 				<input type="checkbox" name="media" id="media" value="facebook" checked="checked"/>Facebook<br/>
  					<input type="checkbox" name="media" id="media" value="twitter"/>Twitter<br/>
  					<input type="checkbox" name="media" id="media" value="linkedin"/>Linkedin<br/>
  				</label>
  			</div>
			</td> 
			<td><!--<div name="visibility" th:value="${schedule.visibility}" >	-->
					<div class="form-group">
						<label for="visibility"></label><label>
							<input type="radio" name="visibility" id="visibility" value="public" checked="checked"/>Public<br/>
							<input type="radio" name="visibility" id="visibility" value="friends"/>Friends<br/>
						</label>
					</div>
			</td>
			<td>
				
			</td>
		</tr>
	</table>
	<br />
	<!-- 	<input type="hidden" th:value="${schedule.id}" name="id" /> -->
	<input type="hidden" class="form-control" id="userId" value="0" />		
			
	<input type="submit" value="Add to queue" />
</form>
</body>
</html>